<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="news-title"><%= article.title %></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div> 
      <!-- Modal Body -->
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class=".col-md-3 .offset-md-9">
              <img class="news-image" src="<%= article.urlToImage %>" alt="Imagem Notícia" width="430px" height="280px">
            </div>
          </div>
        <div class="news-content"><%= article.description %></div>
      </div>
    </div>
  </div>
 </div>
</div>
